.catalog-page-title {
  text-align: center;
  margin: 2rem;
}

.catalog-container {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 2rem;
  justify-content: space-around;
  gap: 1rem;
  .catalog-category {
    white-space: pre;
    // width: max-content;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
    .category-title {
      // text-align: center;
    }
    .catalog-img {
      width: 10rem;
      height: 10rem;
      object-fit: cover;
    }
  }
}


@media screen and (max-width: 800px){
  .catalog-container {
    flex-direction: column;

    .catalog-category {
      flex-direction: row;
    }
  }

}
