<h1 class="catalog-page-title">{{"CATALOG.TITLE" | translate}}</h1>

<div class="catalog-container">
  <div class="catalog-category">
    <div>
      <h2 class="category-title">{{"CATALOG.WELD.TITLE" | translate}}</h2>
      <p>
        {{ "CATALOG.WELD.LIST" | translate }}
      </p>
    </div>
    <div class="category-image">
      <img src="assets/weld.webp" alt="welding" class="catalog-img">
    </div>
  </div>
  <div class="catalog-category">
    <div>
      <h2 class="category-title">{{"CATALOG.EXHAUST.TITLE" | translate}}</h2>
    <p>
      {{ "CATALOG.EXHAUST.LIST" | translate }}
    </p>
    </div>
    <div class="category-image">
      <img src="assets/exhaust.webp" alt="exhaust"  class="catalog-img">
    </div>
  </div>
  <div class="catalog-category">
    <div>

      <h2 class="category-title">{{"CATALOG.TYRE.TITLE" | translate}}</h2>
      <p>
        {{ "CATALOG.TYRE.LIST" | translate }}
      </p>
    </div>
    <div class="category-image">
      <img src="assets/wheel.webp" alt="tyre"  class="catalog-img">
    </div>
  </div>
  <div class="catalog-category">
    <div>

      <h2 class="category-title">{{"CATALOG.AC.TITLE" | translate}}</h2>
      <p>
        {{ "CATALOG.AC.LIST" | translate }}
      </p>
    </div>
    <div class="category-image">
      <img src="assets/ac.webp" alt="ac"  class="catalog-img">
    </div>
  </div>
</div>

<app-contacts></app-contacts>
