<h1 class="catalg-page-title">{{"CATALOG.TITLE" | translate}}</h1>

<div class="catalog-container">
  <div class="catalog-category">
    <h2 class="category-title">{{"CATALOG.WELD.TITLE" | translate}}</h2>
    <p>
      {{ "CATALOG.WELD.LIST" | translate }}
    </p>
  </div>
  <div class="catalog-category">
    <h2 class="category-title">{{"CATALOG.EXHAUST.TITLE" | translate}}</h2>
    <p>
      {{ "CATALOG.EXHAUST.LIST" | translate }}
    </p>
  </div>
  <div class="catalog-category">
    <h2 class="category-title">{{"CATALOG.TYRE.TITLE" | translate}}</h2>
    <p>
      {{ "CATALOG.TYRE.LIST" | translate }}
    </p>
  </div>
  <div class="catalog-category">
    <h2 class="category-title">{{"CATALOG.AC.TITLE" | translate}}</h2>
    <p>
      {{ "CATALOG.AC.LIST" | translate }}
    </p>
  </div>
</div>

