<div class="top-bar">
    <nav>
        <a class="nav-link" routerLinkActive="active" routerLink="/home">home</a>
        <a class="nav-link" routerLinkActive="active" routerLink="/gallery">gallery</a>
        <a class="nav-link" routerLinkActive="active" routerLink="/catalog">catalog</a>
        <a class="nav-link" routerLinkActive="active" routerLink="/contacts">contacts</a>
    </nav>
    <div>
        <button>en</button>
        <button>ru</button>
        <button>ro</button>
    </div>
</div>


    <router-outlet></router-outlet>
