<div class="top-bar">
    <nav>
        <a class="nav-link" routerLinkActive="active" routerLink="/home">{{ 'menu.home' | translate}}</a>
        <a class="nav-link" routerLinkActive="active" routerLink="/gallery">{{ 'menu.gallery' | translate}}</a>
        <a class="nav-link" routerLinkActive="active" routerLink="/catalog">{{'menu.catalog' | translate}}</a>
        <a class="nav-link" routerLinkActive="active" routerLink="/contacts">{{'menu.contacts' | translate}}</a>

    </nav>
    <div class="language-selector">
        <button [ngClass]="{'c': getLang() == 'en'} " (click)="useTranslation('en')">en</button>
        <button [ngClass]="{'c': getLang() == 'ru'} " (click)="useTranslation('ru')">ru</button>
        <button [ngClass]="{'c': getLang() == 'ro'} " (click)="useTranslation('ro')">ro</button>
    </div>
</div>


    <router-outlet></router-outlet>
