.home-about {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-image: url('/assets/vihlopnaya_sistema.jpg');
  background-size: cover;

  .welcome-message {
    text-align: center;
    margin: 2rem;
    text-shadow: 0 0 5px black, 0 0 10px black;
    color: white;
    white-space: pre;
    width: 100%;
    font-size: 1.5rem;
    line-height: 2rem;

    a {
      text-shadow: none;
      box-shadow: 0 0 10px black;;
    }
  }


}

.logos {
  display: flex;
  margin: 2rem;
  justify-content: space-between;
  gap: 2rem;
  * {
    flex-grow: 1;
    width: 1rem;
  }
}

@media screen and (max-width: 800px) {
  .home-about {
    .welcome-message {
      font-size: 1rem;
      line-height: 1.5rem;
    }
    // flex-direction: column;
  }
  .logos {
    display: none;
    // flex-direction: column;
  }

}
